
<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaYP_94O9fNGHoLEgkUF_Xw6nUTdlQf04" ></script>
</head>
<p id="notice"><%= notice %></p>
<body>
  <div class="title-container">
    <%= react_component('ModalView', props: {submit_path: new_restaurant_path}, prerender: false) %>
    <h1 class="title">WeEat</h1>
  </div>


  <div>
      <%= react_component('MainView', props: { restaurants: @restaurants}, prerender: false) %>
  </div>
  <br>
</body>